@import "./assets/css/bulma/bulma.sass";
@import "./assets/css/font-awesome-4.7.0/css/font-awesome.min.css";
@import "~@swimlane/ngx-datatable/index.css";
// @import '~@swimlane/ngx-datatable/themes/material.scss';
@import "~@swimlane/ngx-datatable/assets/icons.css";
body {
  min-height: 100vh;
  width: 100%;
}
datatable-row-wrapper {
  padding: 10px 0px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.pager li {
  min-width: 20px;
  margin: 5px 5px !important;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: red;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://i.gifer.com/VAyR.gif") 50% 50% no-repeat #00000070;
}
